body{
    justify-content: space-between;
    display: flex;
}
.a{
  width:25%;
  height:100%;
  border-style: solid;
  border-color: brown;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  border-width: 0 3px 0 0;
}
.b{
  width:70%;
  height:100%;
  align-items: center;
  justify-content: space-between;
  display: flex;
}
button{
    height:50px;
    width:180px;
    margin:15px;
    padding: 5px;
}
.c{
    width:60%;
    height:98%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table tr td{
    font-size:25px;
}
table tr td input{
    padding:5px;
}
.d{
    width:35%;
    height:98%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
table td{
    padding:10px;
}